name: Deploy dioedbcorpus NoSke Engine to Cluster
on:
  push:
    branches:
      - 'main'
  workflow_dispatch: {}
jobs:
  generate_workflow_vars:
    needs:
      - setup_workflow_env
    environment:
      name: '${{ needs.setup_workflow_env.outputs.environment }}'
    runs-on: ubuntu-latest
    steps:
      - name: Generate PUBLIC_URL if not set
        id: generate_public_url
        run: >
          kube_ingress_base_domain="${{ vars.KUBE_INGRESS_BASE_DOMAIN }}"

          public_url="${{ vars.PUBLIC_URL }}"

          if [ "${public_url}x" == 'x' ]

          then public_url=https://${{ needs.setup_workflow_env.outputs.environment_short
          }}.${kube_ingress_base_domain}

          fi

          echo "public_url=$public_url" >> $GITHUB_OUTPUT
      - name: Generate environment name
        id: generate_env_name
        run: echo "environment=production" >> $GITHUB_OUTPUT
    outputs:
      PUBLIC_URL: '${{ steps.generate_public_url.outputs.public_url }}'
      ENV_NAME: '${{ steps.generate_env_name.outputs.environment }}'
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v5
      - name: login to github container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Create tags based on git data
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/${{ github.repository }}-corpus-data
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=raw,value=latest,enable={{is_default_branch}}
            type=raw,value={{sha}}
      - name: build and push to ghcr.io
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./nosketchengine/Dockerfile
          platforms: linux/amd64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          push: true
  _3:
    needs: [build]
    uses: lapis-project/gl-autodevops-minimal-port/.github/workflows/deploy.yml@main
    secrets: inherit
    with:
      DOCKER_TAG: ghcr.io/${{ github.repository }}-corpus-data
      APP_NAME: 'corpus-noske'
      APP_ROOT: '/'
      POSTGRES_ENABLED: false
      PUBLIC_URL: '${{ needs.generate_workflow_vars.outputs.PUBLIC_URL }}'
      environment: '${{ needs.generate_workflow_vars.outputs.ENV_NAME }}'
      default_port: '8080'
